pa/docs/unpackaged/flows/TemperatureMonitor.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>eventContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce TemperatureMonitor process didn&apos;t start: No matching records found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>noRecordsFoundTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mohan.chinnappan.n@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>eventContextMoreEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Salesforce TemperatureMonitor process didn&apos;t start: Multiple matching records found</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>multipleRecordsFoundTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mohan.chinnappan.n@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Notify_Supervisor_on_Power_Down</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify Supervisor</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Asset.Notify_Supervisor_on_Power_Down</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_event_context.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>RecordCountAssignment</name>
        <label>RecordCountAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_event_record_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myVariable_event_context</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myVariable_event_current_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eventContextCheckLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>eventContextCheckDecision</name>
        <label>ContextCheckDecision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>eventContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_event_record_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eventContextErrorEmail</targetReference>
            </connector>
            <label>Context Check Decision - Is Zero</label>
        </rules>
        <rules>
            <name>eventContextGtOneCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_event_record_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eventContextMoreEmail</targetReference>
            </connector>
            <label>Context Check Decision - Greater than One</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>inputSourceType</name>
                    <value>
                        <stringValue>customEvent</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_myEvent.Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Power Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Power Down</label>
        </rules>
    </decisions>
    <description>Temperature Monitor subscribes PE Notification__e</description>
    <formulas>
        <name>OrganizationName</name>
        <dataType>String</dataType>
        <expression>{!$Organization.Name}</expression>
    </formulas>
    <interviewLabel>TemperatureMonitor-1_InterviewLabel</interviewLabel>
    <label>TemperatureMonitor</label>
    <loops>
        <name>eventContextCheckLoop</name>
        <label>ContextCheckLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>myVariable_event_current_record</assignNextValueToReference>
        <collectionReference>myVariable_event_context_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordCountAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eventContextCheckDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>EventType</name>
        <value>
            <stringValue>Notification__e</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Asset</stringValue>
        </value>
    </processMetadataValues>
    <processType>CustomEvent</processType>
    <recordLookups>
        <name>myEventContextRecordLookup</name>
        <label>myEventContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eventContextCheckLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Asset Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Furnace</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>myVariable_event_context_collection</outputReference>
    </recordLookups>
    <startElementReference>myEventContextRecordLookup</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <description>text template for when multiple records are records found</description>
        <name>multipleRecordsFoundTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello {!OrganizationName} Admin, 

The TemperatureMonitor process is configured to start when a Notification platform event message occurs. A Notification message occurred, but the process didn&apos;t start because multiple records in your org match the values specified in the process&apos;s Object node.



To fix this issue, adjust the matching filters in the process&apos;s Object node.

Thank you, 
Salesforce Process Automation</text>
    </textTemplates>
    <textTemplates>
        <description>text template for no records found</description>
        <name>noRecordsFoundTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello {!OrganizationName} Admin, 

The TemperatureMonitor process is configured to start when a Notification platform event message occurs. A Notification message occurred, but the process didn&apos;t start because no records in your org match the values specified in the process&apos;s Object node.



To fix this issue, adjust the matching filters in the process&apos;s Object node.

Thank you, 
Salesforce Process Automation</text>
    </textTemplates>
    <variables>
        <name>myVariable_event_context</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>myVariable_event_context_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>myVariable_event_current_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>myVariable_event_record_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>myVariable_myEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification__e</objectType>
    </variables>
</Flow>
